* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

body {
    min-width: 1344px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 1344px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    padding-left: 98px;
    padding-right: 98px;
    position: relative;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
}

.menu li {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: #212121 3px solid;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 283px;
}

.slider-heading {
    color: #212121;
    font-size: 58px;
    font-weight: 100;
    text-transform: uppercase;
}

.slider-paragraph {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 24px;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    text-decoration: none;
}

.button:hover {
    background-color: #212121;
    color: #ffffff;
}

.button:active {
    box-shadow: none;
}

.pagination {
    position: absolute;
    bottom: 19px;
    width: 1170px;
    text-align: center;
}

.pages {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.pages-active {
    background-color: #212121;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}

.pages:hover {
    background-color: #212121;
}

.featured-new {
    height: 397px;
    background-color: #ffffff;
    padding: 120px 75px; 
}

.featured-new h4 {
    float: left;
}

.featured-new h4:first-of-type a {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 25px 10px 13px;
    border-bottom: solid black 3px;
}

.featured-new h4:nth-of-type(2) a {
    margin-left: 30px;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 13px 12px 25px;
    border-bottom: solid #6c6c6c 1px;
    margin-left: 0px
}

.featured-new h4:nth-of-type(2) a:hover {
    color: #212121;
}

.featured-new h5 a {
    float: right;
    margin-top: 13px;
    margin-right: -10px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
    padding: 10px 13px;
}

.featured-new h5 a:hover {
    border-bottom: solid #212121 3px;
    margin-top: 10px;
}

.clearfix {
    clear: both;
}

.featured-product {
    display: inline-block;
    width: 270px;
    height: 270px;
    margin-top: 70px;
    margin-left: 35px;
    position: relative;
}

.clearfix + .featured-product {
    margin-left: 0px;
}

.featured-product-hover {
    background-image: url(img/back.svg);
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}

.featured-product:hover .featured-product-hover {
    display: block;
}

.featured-product-hover img {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin: 60px 0 15px 115px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.featured-product-hover h4 {
    margin-left: 60px;
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
}

.featured-product-hover p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
    margin-top: 25px;
    text-align: center;
}

.featured-product-hover a {
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.exclusive-1 {
    background-image: url(img/exclusive-1.jpg);
    width: 50%;
    height: 682px;
    float: left;
}

.exclusive-blue {
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #1e88e5;
    letter-spacing: 1.8px;
    margin-top: 230px;
    margin-left: 50px;
}

.exclusive-header {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-left: 50px;
}

.exclusive-paragraph {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    margin-left: 50px;
    margin-right: 220px;
}

.exclusive-paragraph + .button {
    margin-left: 50px;
    margin-top: 30px;
}

.exclusive-2 {
    background-image: url(img/exclusive-2.jpg);
    width: 50%;
    height: 682px;
    float: right;
}

.trending-products {
    height: 1110px;
    width: inherit;
    background-color: #ffffff;
    padding-top: 120px;
    padding-left: 100px;
}

.trending-products h4 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;
}

.trending-products h5 a {
    float: right;
    margin-top: 13px;
    margin-right: 85px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
    padding: 10px 13px;
}

.trending-products h5 a:hover {
    border-bottom: solid #212121 3px;
    margin-top: 10px;
}

.trending-product {
    height: 370px;
    width: 370px;
    display: inline-block;
}

.trending-product a {
    display: block;
    width: 100%;
    height: 100%;
}

.trending-product:hover {
    outline: 1px solid #212121;
}

.trending-product-1, .trending-product-2, .trending-product-3 {
    margin-top: 65px;
}

.trending-product-4, .trending-product-5, .trending-product-6 {
    margin-top: 30px;
}

.trending-product-2, .trending-product-3, .trending-product-5, .trending-product-6 {
    margin-left: 30px;
}

.trending-product-1 {
    background-image: url(img/product-1.jpg)
}

.trending-product-2 {
    background-image: url(img/product-2.jpg)
}

.trending-product-3 {
    background-image: url(img/product-3.jpg)
}

.trending-product-4 {
    background-image: url(img/product-4.jpg)
}

.trending-product-5 {
    background-image: url(img/product-5.jpg)
}

.trending-product-6 {
    background-image: url(img/product-6.jpg)
}

.hot-deal {
    background-image: url(img/hot_deal.jpg);
    height: 800px;
    padding-left: 100px;
    float: left;
    position: relative;
}

.hot-deal-red {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-top: 290px;
}

.hot-deal-header {
    color: #212121;
    font-size: 62px;
    font-weight: 200;
    line-height: 72px;
    text-transform: uppercase;
}

.hot-deal-paragraph {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-right: 750px;
    margin-bottom: 30px;
}

.gallery {
    height: 810px;
    width: 1346px;

}

.gallery-exclusive {
    background-image: url(img/gallery-exclusive.jpg);
    width: 570px;
    height: 570px;
    float: left;
    margin-left: 100px;
    margin-top: 120px;
}

.gallery-exclusive:hover {
    outline: 1px solid #212121;
}

.gallery-product {
    width: 270px;
    height: 270px;
    margin-left: 30px;
    float: left;
}

.gallery-product a {
    display: block;
    height: 100%;
    width: 100%;
}

.gallery-product:hover {
    outline: 1px solid #212121;
}

.gallery-product-1 {
    background-image: url(img/gallery-product-1.jpg);
    margin-top: 120px;
}

.gallery-product-2 {
    background-image: url(img/gallery-product-2.jpg);
    margin-top: 120px;
}

.gallery-product-3 {
    margin-top: 30px;
    background-image: url(img/gallery-product-3.jpg)
}

.gallery-product-4 {
    margin-top: 30px;
    background-image: url(img/gallery-product-4.jpg);
}

.phone-app {
    background-image: url(img/phone-app.jpg);
    height: 516px;
    float: left;
    width: 1346px;
}

.mobile-app {
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #6c6c6c;
    letter-spacing: 1.8px;
    margin-top: 125px;
    margin-left: 100px;
}

.phone-app-header {
    color: #212121;
    font-size: 62px;
    font-weight: 200;
    line-height: 72px;
    text-transform: uppercase;
    margin-left: 100px;
    margin-bottom: 25px;
    margin-right: 500px;
}

.phone-app-paragraph {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-left: 100px;
    margin-bottom: 35px;
}

.phone-app a:first-of-type {
    margin-left: 100px;
}

.footer {
    height: 384px;
    background-image: url(img/footer-back.svg);
    padding-top: 120px;
    padding-left: 99px;
    width: 1247px;
}

.contact-us {
    width: 230px;
    height: 132px;
    float: left;
}

.contact-us h4 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 16px;
    margin-left: 2px;
}

.contact-us p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-left: 1px;
}

.contact-us p:first-of-type {
    margin-bottom: 18px;
}

.useful-info {
    width: 447px;
    overflow: hidden;
    float: left;
    margin-left: 80px;
}

.useful-info h4 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 16px;
}

.useful-info td a {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none;
}

#row-one-data {
    width: 250px;
}

#row-two-data {
    width: 200px;
}

.in-touch {
    float: left;
    margin-left: 78px;
    width: 390px;
    position: relative;
}

.in-touch h4 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 16px;
}

.in-touch p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 16px;
}

.in-touch input[type="text"] {
    width: 370px;
    height: 48px;
    padding-left: 19px;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
    color: #212121;
}

input::placeholder {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.in-touch img {
    position: absolute;
    right: 14px;
    bottom: 15px;
}

.felina {
    padding-top: 70px;
    clear: both;
}

.copyright, .copyright a {
    display: inline-block;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    height: 9px;
    text-decoration: none;
}

.copyright:nth-child(2) {
    margin-left: 165px;
    margin-right: 193px;
}
